header {
    background: url('images/bg-ques.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 520px;
    background: transparent;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(244, 233, 36, 0.8);

}

.wrapper input {
    background: transparent;
}

.wrapper h1 {
    text-shadow: 5px 5px 5px black;
}

.wrapper label {
    color: rgb(243, 193, 13);
    text-shadow: 4px 4px 4px #000000;
}
.php {
    background: transparent;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(54, 219, 98, 0.8);
}